body {

}
.container {
    height: 45px;
    width: 100%;
    background: black;
    position: absolute;

}

.containerButton {
    display: flex;
    position: relative;
    top: 50%;
    justify-content: space-evenly;
}
