body {

}

.container {
    height: 45px;
    width: 100%;
    background: black;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.containerButton {
    display: flex;
    position: relative;
    top: 50%;
    justify-content: space-evenly;
}

#top {
    top: 0;
    color: white;
}

#bot {
    bottom: 0;
}

.ancher {
    color: black;
    justify-content: center;
    align-items: center;
    height: 25px;
    background: #deff33;
    width: 180px;
    display: flex;
    position: relative;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;

}
.message {
    color: white;
    margin: 0;
    padding: 0;
    padding-right: 15px;
}
